* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/****************************** MILENSTONE 1 **********************+**/

/* RETROPAGINA */

.retro-green {
    width: 100%;
    height: 15vh;
    background-color: #038C73;
}
.retro-gray {
    display: flex;
    position: absolute;
    width: 100%;
    height: 85vh;
    background-color: #DADBD4;
}

/********************************** SCHERMO-CONTACT ***********************/

.schermo-contact {
    position: relative;
    bottom: 70px;
    left: 58px;
    width: 35%;
    height: 90vh;
    background-color: white;
    margin: 0 auto;
    
}

/* USER */

.user {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #EAEAEA;
    border-right: 1px solid black;
}

.user img {
    width: 50px;
    height: 60px;
    border-radius: 40px;
    margin-left: 10px;
}

.user h3 {
    margin-top: 20px;
}

.icons {
    font-size: 30px;
    margin-left: 200px;
    margin-top: 13px;
    color: #B1B1B1;
}

/* NOTIFICHE */

.notifiche {
    width: 100%;
    height: 70px;
    background-color: #8DD5F2;
}

/* SEARCH */

.search {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #F5F5F5;
}

.search button {
    width: 50px;
    height: 30px;
    background-color: white;
    margin-right: 5px;
    margin-top: 5px;
    border: none;
    color: #B8C4D8;
    cursor: pointer;
}

.search input {
    width: 440px;
    height: 30px;
    margin-top: 5px;
    border: none;
    
}

/* CONTACT */

.contact {
    width: 100%;
    height: 540px;
    background-color: white;
    overflow-y: scroll;
}

.contact img {
    width: 50px;
    height: 60px;
    border-radius: 40px;
    margin-left: 10px;
    margin-top: 20px;
    vertical-align: middle;
}

li {
    list-style-type: none;
    border-bottom: 1px solid #F5F5F5;
}


/************************+******************** SCHERMO-CHAT ****************************/

.schermo-chat {
    position: relative;
    bottom: 70px;
    right: 50px;
    width: 50%;
    height: 90vh;
    background-color: white;
    margin: 0 auto;
}

/* MY-CONTACT */

.my-contact {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #EAEAEA;
}

.my-contact img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    vertical-align: middle;
    margin-left: 20px;
}

.contact2 {
    margin-top: 10px;
}

.contact2 p {
    font-size: 13px;
}

.icons2{
    font-size: 30px;
    margin-left: 430px;
    margin-top: 13px;
    color: #B1B1B1;
}

/* CHAT */

.chat {
    width: 100%;
    height: 600px;
    background-image: url(../img/mine.jpg);
}

/* TEXT-MESSAGE */

.text-message {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    background-color: #F3EEEA;
}

.text-message i {
    font-size: 30px;
    margin-top: 10px;
    color: #B1B1B1;
}

.text-message input {
    width: 500px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}