<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>BOOLZAPP</title>
</head>
<body>
    <!------------------------------MILENSTONE 1---------------------------->
    <div class="container" id="root">
        <!-- RETROPAGINA -->
        <div class="retro-green"></div>

        <!------------------------ SCHERMO-CONTACT --------------------------->
        <div class="retro-gray">
            <div class="schermo-contact">
                <!-- USER -->
                <div class="user">
                    <img src="img/avatar_1.jpg" alt="">
                    <h3>Andrea Gambino</h3>
                    <div class="icons">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- NOTIFICHE -->
                <div class="notifiche">
                    <h3>Ricevi notifiche di nuovi messaggi</h3>
                    <p>Attiva notifiche desktop</p>
                </div>
                <!-- SEARCH -->
                <div class="search">
                    <button><i class="fas fa-search"></i></button>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="input">
                </div>
                <!-- CONTACT -->
                <div class="contact">
                    <div id="contatti" v-for="(items,index) in cerca" @click="selezionaUtente(index)">
                        <img :src="items.avatar" alt="avatar">
                        <h3>{{items.name}}</h3>
                    </div>
                </div>
            </div>

            <!------------------------ SCHERMO CHAT--------------------------->
            <div class="schermo-chat">
                <!-- MYCONTACT -->
                <div class="my-contact">
                    <img :src="contacts[indice].avatar" alt="avatar">
                    <div class="contact2">
                        <h4>{{contacts[indice].name}}</h4>
                        <p>Ultimo accesso oggi alle</p>
                    </div>
                    <div class="icons2">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <!-- CHAT -->
                <div class="chat" v-for="message in contacts[indice].messages">
                    <div class="box" v-if="message.status == 'sent' && message.text != '' && message.date != '' " id="verde">
                        <p>{{message.text}}</p>
                        <p class="date">{{message.date}}</p>
                    </div>
                    <div class="box" v-if="message.status == 'received' && message.text != '' && message.date != '' " id="bianco">
                        <p>{{message.text}}</p>
                        <p class="date">{{message.date}}</p>
                    </div>
                </div>
                <!-- TEXT-MESSAGE -->
                <div class="text-message">
                    <i class="far fa-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio" v-model="messaggio" @keyup.enter="aggiuntaMessaggio">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
    </div>



<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>